body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link-button {
    padding: 15px 30px;
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.link-button:hover {
    background-color: #0056b3;
}