@charset "UTF-8";


html {
    height: 100vw;
}

body {
    margin: 0;
    background-color: skyblue;
    padding: 0;
    height: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: all 0.5s linear;
}

/* Styling for text that appears to bend */
.bendtext {
    z-index: 100;
    position: fixed;
    text-align: center;
    justify-content: center;
    top: 2vw;
    left: 60vw;
    font-family: "chorine-large", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 5vw;
    overflow: visible;
}

/* Class to hide elements */
.invisible {
    display: none;
}

/* Container for slides, allows horizontal scrolling */
.slides {
    display: flex;
    justify-content: left;
    height: 60vw;
    overflow-x: scroll;
    overflow-y: hidden;
}

/* Section for palm-themed content */
.palm__section {
    position: relative;
    width: 100vw;
    height: 120vw;
    top: -25vw;
    margin: 0 300px;
    left: -5vw;
}

/* Styling for speech bubble in the palm section */
.palm-bubble {
    position: fixed;
    font-size: 1.3vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 6.5vw;
    left: 6.7vw;
    height: 9vw;
    width: 37vw;
    margin: 0;
    text-align: center;
    background: #fafafa;
    opacity: 0;
    border: 0.2vw solid #F2D5BB;
    border-radius: 2vw;
    padding: 1vw;
    transition: all 0.5s linear 0.25s;
}

/* Styling for palm image */
.palm {
    height: 100vw;
    width: 80vw;
}

/* General class for static positioning with transition */
.static {
    position: absolute;
    transition: all 0.75s ease-in-out;
}

/* Indicator for when something is talking */
.talking-indicator {
    position: fixed;
    display: flex;
    top: 6.5vw;
    left: 48.7vw;
    gap: 1vw;
}

.line {
    width: 0.3vw;
    height: 1.5vw;
    background-color: #774a28;
    animation: pulse 1s infinite;
}

.line:nth-child(2) {
    animation-delay: 0.2s;
}

.line:nth-child(3) {
    animation-delay: 0.4s;
}

/* Keyframes for pulsing animation */
@keyframes pulse {
    0%, 100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(1.5);
    }
}

/* Styling for background image */
#background {
    width: 100vw;
    top: -30vw;
}

/* Styling for road image */
#road {
    width: 100vw;
    top: -5vw;
}

/* Styling for clouds image */
#clouds {
    width: 100vw;
    top: -92vw;
}

/* Styling for bushes image */
#bushes {
    z-index: 22;
    left: 0vw;
    width: 100vw;
}

/* Styling for radio image */
#radio {
    width: 60vw;
    top: -12vw;
    left: -1vw;
}

/* Styling for first trash image */
#trash1 {
    left: 15vw;
    width: 33vw;
    top: 100vw;
}

/* Styling for second trash image */
#trash2 {
    left: 60vw;
    width: 33vw;
    top: 100vw;
}

/* Styling for foreground image */
#foreground {
    z-index: 21;
    width: 150vw;
    top: -15vw;
    left: -18vw;
}

/* Styling for car image */
#car {
    width: 80vw; 
    left: 15vw;
    top: 5vw;
}

/* Styling for snail image */
#snail {
    z-index: 40;
    top: 100vw;
    left: 10vw;
    width: 7.5vw;
}

/* Styling for turtle image */
#turtle {
    z-index: 41;
    top: 100%;
    left: 56%;
    width: 10%;
}

/* Styling for logo image */
#logo {
    top: 2vw;
    right: 2vw;
    width: 10vw;
    border-radius: vw;
    opacity: 0;
    transition: all 0.3s ease;
}

#logo:hover {
    width: 12vw;
    opacity: 1;
}

